@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Arvo&family=Noto+Sans:wght@300;400&family=Open+Sans:wght@300;400&family=Poppins:wght@200;300;400&family=Sora:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', sans-serif;
}

h1 {
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

main {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 280px;
    background: #141414;
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8);
}

input {
    padding: 5px;
    width: 220px;
    margin-bottom: 20px;
    outline: 0;
    border-radius: 5px;
    border: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}